[submodule "slack_moji"]
	path = slack_moji
	url = https://github.com/oboenikui/slack-moji.git
[submodule "space_doitsu_no_tori"]
	path = space_doitsu_no_tori
	url = https://github.com/oboenikui/SpaceDoitsuNoTori
